



/*Main Style*/
html {scroll-behavior: smooth;}
body { background-color: black; margin-top: -60px;}
#logo_type{top:21px; right:92%; z-index: 11; position: fixed;}
#logoSpread{font-family: 'Cantata One', serif; font-weight: bolder; font-size: 20px; position: fixed; color: #cccccc; z-index: 3; top: 28px; left: 9.2%; transition: all 0.2s ease-in; width:400px; }
#logo_type:hover #logoSpread {z-index: 11;}

#nav_menu{position: fixed; margin-top: 84px;}
#nav_menu {right: 2.5%; z-index: 11;}
#nav_menu tr {color:#cccccc;}
#nav_menu tr th {font-family: 'Cantata One', serif; font-weight: lighter; font-size: 20px; padding: 0.1vw 2vw 0.1vw 0.1vw; transition: all 0.2s ease-in;}
svg {top: 0px; position: fixed; z-index: 10; left:-8px;}

#nav_menu tr > #menu1:hover #sub-menu {opacity: 1; visibility: visible;}
#sub-menu {position: absolute; background: #333333; opacity: 0; visibility: hidden; transition: all 0.2s ease-in; font-family: "Noto Serif KR", serif; font-size: 15px;}
#sub-menu > li {padding: 20px 25px; border-bottom: 1px solid #444444;}
#sub-menu > li >  a {color: rgba(255,255,255,0.6); text-decoration: none;}

#menu1:hover {text-decoration: underline;}
#menu2:hover {text-decoration: underline;}
#menu3:hover {text-decoration: underline;}
#menu4:hover {text-decoration: underline;}


#intro{display:block; position:relative; margin:auto; top:0px; width: 100.8%; left: -0.5%; z-index: 0;}
#footer{font-family: "Noto Serif KR", serif; display: block; font-size:14px; color: white; top:-50px; width: 600px; margin:auto; position: relative; text-align: center;}
#introduction{font-family: "Noto Serif KR", serif; font-size:2.2vw; color: #cccccc; top:5vw; margin:auto; left: 2%; position: absolute; text-align: left; line-height:1.6; animation: move1 2s forwards;}

@keyframes move1 {
  0%{left: -15%;}
  100%{left: 2%;}
}

#saying{font-family: "Noto Serif KR", serif; font-size:0.6vw; opacity: 0; color: #999999; top:17vw; margin:auto; left: 2.1%; position: absolute; text-align: left; line-height:1.8; animation: move2 2s 2s forwards;}

@keyframes move2 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

#whatccp{font-family: "Noto Serif KR", serif; font-size:1vw; opacity: 0; color: #cccccc; top:43vw; left: 89%; position: fixed; text-align: left; border-bottom: 0.5px solid gray; animation: move3 2s 3s forwards;}

@keyframes move3 {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
